:root {
    --grey: #DEDEDE;
    --darkred: #B0153F;
    --lightred: #CB6C7C;
}

body {
    font-family:'Open Sans', sans-serif;
    background-color:#fff;
    font-size:1.25em;
}

a {
    color:var(--darkred);
    transition:.15s ease-in-out;
}

a:hover{
    color:var(--grey);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family:'Cinzel Decorative', cursive;
}

[class|=container] {
    background-color:#fff;
}

.active {
    font-weight:bold;
}

.lead {
    font-size:1.15em;
}

img {
    max-width:100%;
    height:auto!important;
}

.divide {
    height:1px;
    border-top:solid 1px;
    border-color:white;
}

.btn-primary {
    background-color:var(--darkred);
    border-color:var(--darkred);
}

.btn-primary:hover {
    background-color:var(--lightred);
    border-color:var(--lightred);
}

.bg-light {
    background-color:#fff!important;
}

header.jumbotron {
    background-color:var(--grey);
    background-image: url(/images/seattle-cropped.png);
    background-size:cover;
    background-position:center center;
    color:#fff;
    text-align:right!important;
}

.nav-pills .active {
    background-color:var(--darkred)!important;
}

.link-plaintext, .link-plaintext:hover {
    color:inherit;
    text-decoration:none;
}

#contactMethods a {
    display:inline-block;
    font-size:2em;
    padding:0 .3em;
    border-radius:100%;
    margin:0 10px;
}

.divide {
    border-top:solid 1px rgba(176, 21, 63,0.5);
}