body {
    font-family:'Open Sans', sans-serif;
    background-color:#efefef;
    font-size:1.25em;
}

a {
    color:#B0153F;
    transition:.15s ease-in-out;
}

a:hover{
    color:#DEDEDE;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Cinzel Decorative', monospace;
}

[class|=container] {
    background-color:#fff;
}

.active {
    font-weight:bold;
}

.lead {
    font-size:1.25em;
}

img {
    max-width:100%;
    height:auto!important;
}

.divide {
    height:1px;
    border-top:solid 1px;
}

.btn-primary {
    background-color:#B0153F;
    border-color:#B0153F;
}

.btn-primary:hover {
    background-color:#CB6C7C;
    border-color:#CB6C7C;
}

.bg-light {
    background-color:#fff!important;
}